/* ----------------------- HTML tags customization ----------------------- */

body {
    font-family: 'Nunito', sans-serif;
    /* Related with NavBar */
    padding-top: 56px;
    background-color: #f3f2ea;
}

nav {
    background-color: #f2eecb;
}

a {
    color: #6d1900 !important;
    -moz-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    -ms-transition: color 300ms ease;
    transition: color 300ms ease;
}

a:hover {
    text-decoration: none;
    color: black !important;
}


/* ----------------------- Bootstrap class customization ----------------------- */

.custom-pagination {
    background-color: #f3f2ea !important;
}

.progress {
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    height: 5px;
}

.toast {
    box-shadow: 0 0 2px #c5c5c0;
    position: fixed;
    bottom: 4px;
    right: 14px;
    width: 350px;
    z-index: 10;
    background-color: #f2eecb;
}

.toast-header {
    background-color: #dad7c3;
}

.display-1 {
    word-break: break-word;
}

.page-item.active .page-link {
    background-color: #ece49b;
    border-color: #ece49b;
}


/* ----------------------- Custom classes ----------------------- */

.maxWidth576 {
    max-width: 576px;
}

.maxWidth992 {
    max-width: 992px;
}

.minHeight160 {
    min-height: 160px;
}

.minHeight115 {
    min-height: 115px;
}

.featureImage {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.linkButton {
    white-space: nowrap;
    border: 1px solid #91908c !important;
    -moz-transition: border 300ms ease;
    -o-transition: border 300ms ease;
    -ms-transition: border 300ms ease;
    transition: border 300ms ease;
}

.linkButton:hover {
    text-decoration: none;
    border: 1px solid black !important;
}

.rotate90 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.topRightOuter {
    top: 76px;
    right: -50px;
}

.topRightInner {
    top: 58px;
    right: -30px;
}

.leftMediaFull {
    object-fit: cover;
    object-position: center;
    height: 94px;
    width: 175px;
}

.leftMediaBlog {
    object-fit: cover;
    object-position: center;
    height: 113px;
    width: 175px;
}

.leftMediaHalf {
    object-fit: cover;
    object-position: center;
    height: 140px;
    width: 143px;
}

.datePosition {
    bottom: 12px;
}

.bodyContent img {
    width: 100% !important;
    height: auto !important;
}


/* ----------------------- Mobile size customization ----------------------- */

@media (max-width: 576px) {
    .leftMediaFull,
    .leftMediaHalf,
    .leftMediaBlog {
        object-fit: cover;
        object-position: center;
        height: 175px;
        width: 100px;
    }
}