body {
    font-family: 'Nunito', sans-serif;

    /* Related with NavBar */
    padding-top: 72px;

    /* Little Greene Old Paper */
    background-color: #f3f2ea;
}

nav {
    background-color: #f2eecb;
}

.maxWidth540 {
    max-width: 540px;
}

.progress {
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    height: 5px;
}

.toast {
    box-shadow: 0 0 2px #c5c5c0;
    position: absolute;
    bottom: 4px;
    right: 14px;
    width: 350px;
    z-index: 10;
    background-color: #f2eecb;
}

.toast-header {
    background-color: #dad7c3;
}